<div id="popular-section" class="container">
	<h2 class="popular-cat-header">Popular Posts</h2>
	<div class="popular-posts">
		<article *ngFor="let item of landigpageList" id="{{ item.id }}" class="article article-popular">
			<div class="aricle-content">
				<a href="#">					
					<div class="article-image" style="background-image: url(assets/images/{{ item.backgroundImage }});background-position: top; background-size: cover;">
					</div>
				</a>
			</div>
			<div class="aricle-header">
				<a href="#">{{ item.category }}</a>
				<p> {{ item.title }} </p>
			</div>
		</article>
	</div>
</div>