#popular-section {
	font-family: 'futura';
	text-align: center;
}
#popular-section h2 {
	padding: 25px 0 30px;
}
#popular-section .popular-posts {
    display: flex;
    flex-wrap: wrap;
}
#popular-section .popular-posts article {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    padding-right: 35px;
}
#popular-section .popular-posts article .aricle-content {
	position: relative;
	width: 100%;
}
#popular-section .popular-posts article .aricle-content > a:before {
    content: "";
    display: block;
    padding-top: 133.333333%;
}
#popular-section .popular-posts article .aricle-content a {
	display: block;
	position: relative;
}
#popular-section .popular-posts article .aricle-header {
	padding: 25px 0 30px;
}
#popular-section .popular-posts article .aricle-header a {
	text-decoration: none;
	text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-size: 12px;
    letter-spacing: 1.12px;
    line-height: 16px;
    font-weight: 500;
}
#popular-section .popular-posts article .aricle-header p.title {
	font-size: 30px;
    line-height: 1.1;
}
#popular-section .popular-posts article .aricle-header p.description {
	font-size: 17px;
    line-height: 1.29;
}
#popular-section .popular-posts article .aricle-content .article-image {
	height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}