.navbar {
  background-color: #f9f7f4;
}
.navbar-nav {
  margin: 0px auto;
}
.navbar ul li a {
  color: #000000;
  font-size: 17px;
  letter-spacing: 0.9px;
  text-decoration: none;
}
.submenu-item {
  padding: 0.3rem 0.8rem;
}
.an-nav-mainmenu {
  text-transform: capitalize;
}
.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top:-6px;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
} 



#footer-section .empty-div {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 30px;
}
#footer-section {
  background-color: #003ab6;
  color: #eeeeee;
}
#footer-section .container {
  border-top: 1px solid #eeeeee;
}
#footer-section #footer-center-section {
  text-align: left;
}
#footer-section #footer-center-section input {
  border: 2px solid #eeeeee;
}
#footer-section #footer-center-section a {
  border: 2px solid black;
  margin-left: 5px;
  background-color: #000000;
  line-height: 15px;
  color: #eeeeee;
}
#footer-section #footer-right-section {
  text-align: center;
}