<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand pb-2" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul *ngIf="menuList && menuList.length > 0" class="navbar-nav">
      <div *ngFor="let mainmenu of menuList" fxFlexAlign="center">
        <li class="nav-item {{mainmenu.children && mainmenu.children.length > 0 ? 'dropdown' : ''}} an-nav-mainmenu">
          <a *ngIf="!mainmenu.hasOwnProperty('children')" class="nav-link" href="#">{{ mainmenu.name }}</a>
          <a *ngIf="mainmenu.children && mainmenu.children.length > 0" class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ mainmenu.name }}</a>
          <ul *ngIf="mainmenu.children && mainmenu.children.length > 0" class="sub-cat dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li *ngFor="let submenu of mainmenu.children">
              <a class="dropdown-item" href="#">{{ submenu.name }}</a>
            </li>
          </ul>
        </li>
      </div>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- Footer Section -->
<div id="footer-section" class="container-fluid">
  <div class="empty-div"></div>
  <div class="container">
    <div class="empty-div"></div>
    <div class="row">
      <div id="footer-left-section" class="col-md-4 col-sm-4 col-xs-12">
        <p>Join our mailing list</p>
      </div>
      <div id="footer-center-section" class="col-md-4 col-sm-4 col-xs-12">
        <form>
          <p>Join our mailing list</p>
          <input type="email" name="email" placeholder="Enter your email here*" required maxlength="200" pattern="^.+@.+\.[a-zA-Z]{2,63}$">
          <a class="btn">Subscribe Now</a>
        </form>
      </div>
      <div id="footer-right-section" class="col-md-4 col-sm-4 col-xs-12">
        <p>https://www.wix.com/website-template/view/html/1720</p>
      </div>
    </div>
  </div>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

